<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PcPartPicker_Desktop_Version.Properties.Settings.projetConnectionString"
      connectionString="Data Source=DESKTOP-PFU06AN\IBRAHANDOURSQL;Initial Catalog=projet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PcPartPicker_Desktop_Version.Properties.Settings.projetConnectionString1"
      connectionString="Data Source=DESKTOP-Q6F79J6\SQLEXPRESS;Initial Catalog=projet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PcPartPicker_Desktop_Version.Properties.Settings.projetConnectionString2"
      connectionString="Data Source=./;Initial Catalog=projet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>